# Rust
/target/
Cargo.lock
**/*.rs.bk
*.pdb

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
sdist/
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.hypothesis/
venv/
.venv

# Benchmarks
benches/data/

# Documentation
site/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
